body{
    margin: 0;
    padding: 0;
}
/*NAV---------------------------------------------------------------------------------------------------*/
nav{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
    box-shadow: 12px 12px 2px 1px rgba(25, 25, 29, 0.2);

}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    padding-top: 2rem;
    
    padding-bottom: 2rem;
    padding-right: 5rem;
    z-index: +1;
    border-bottom: 2px solid black;

  }
  .Nli{
    margin: 5rem;
  }
.navlinks{
    display: flex;
    justify-content: center;
    
    margin-right: 10%;

    
    
}
.logoimg{
    display: flex;
    margin-left: 40%;
    margin-bottom: 2rem;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 800;
}
li{
    list-style: none;
    margin-left: 2rem;
}
@media(max-width:600px){
    .logoimg{
        display: flex;
        width: 80vw;
    }
    nav{
        display: flex;
        flex-direction: column;
        
        width: 100vw;
        overflow: hidden;
    }
    .navlinks{
        display: flex;
       
        flex-wrap: nowrap;
    
        
    }
    a{
        font-size: 1.2rem;
    }
    li{
        list-style: none;
       
    }
   
}


/*-------------------------------------------------------------------------------------------------------*/
/*Content------------------------------------------------------------------------------------------*/

.content{
    margin-top: 3rem;
    
}
h2{
    position: absolute;
    top: 50%;
    font-size: 2rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: 12px 12px 2px 1px rgba(25, 25, 29, 0.8);
    
    
}
.bgimg{
    width: 100%;
}
h3{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid black;
   text-align: center;
   box-shadow: 12px 12px 2px 1px rgba(25, 25, 29, 0.2);
   letter-spacing: 5px;
   
}
p{
    text-align: center;
    font-size: 2rem;
}
.pabout{

  text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2rem;
    word-spacing: 10px;

}
footer{
    margin-top: 4rem;
    border-top: 2px solid rgb(65, 57, 57);
}
.copyright{
    margin: 10%;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    
   
    
}
.about{
    text-align: center;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2rem;
    word-spacing: 10px;
    
}

/*-------------------------------------------------------------------------------------------------------*/
/*image crousel------------------------------------------------------------------------------------------*/
/* Slideshow container */
.slideshow-container {
    
    max-height: 100%;
    max-width: 100%;
    position: relative;
    margin-top: 3rem;
    
}
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: black;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: black;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
/*-------------------------------------------------------------------------------------------------------*/
/*button-------------------------------------------------------------------------------------------------*/
button{
    margin-bottom: 2rem;
    margin-left: 7.7%;
    height: 5rem;
    width: 85%;
    font-size: 1.5rem;
    font-weight: 800;
    border: 2px solid rgba(25, 25, 29, 0.2);
    border-radius: 50px 50px 50px 50px;
    background-color: yellow;
    -webkit-border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
    -ms-border-radius: 50px 50px 50px 50px;
    -o-border-radius: 50px 50px 50px 50px;
}
/*-------------------------------------------------------------------------------------------------------*/